/* IMPORT NUNITO GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* EVERYTHING BORDER BOX */
*, ::before, ::after {
  box-sizing: border-box;
}

/* COLORS VAR */
:root {
  --accent-color: #baceac;
  --blue-grey: #454f63;
  --black: #1d1d1d;
  --grey-bg: #f7f7fa;
  --grey: #aeb5c5;
  --border: #eeeeee;
}

/* MEDIA QUERIES BREAKPOINT RECAP */
/* MIN */
/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

/* MAX */
/* @media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... } */


/* MAIN & COMMON STYLE */
body {
  background: #f7f7fa;
  color: var(--blue-grey);
  font-family: 'Ubuntu', sans-serif;
  
}

.page-container-mobile {
  min-height: 100vh;
  padding: 1.3em 1.3em 2.5em;
}

.page-container-desktop {
  min-height: 100vh;
  padding: 85px 1.3em;
}

.btn {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  margin: 1em 1em 0;
  padding: 1em;
  border: 0;
  border-radius: 10px;
  text-decoration: none;
}

.btn-container {
  text-align: right;
  align-self: flex-end;
}

.green {
  background-color: var(--accent-color);
}

.dark {
  background-color: var(--black);
}

h2 {
  text-align: left;
  color: var(--blue-grey);
  margin-top: 1.5em;
}

h3 {
  text-align: left;
  color: var(--accent-color);
  font-weight: lighter;
  margin: 1.5em 0 0.8em;
}

h4 {
  color: white;
  margin: 0 0 .2em 0;
  font-size: 1.3em;
}

p {
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.middle {
  align-items: center;
  align-content: center;
  justify-content: center;
}


/* BUTTON STYLE */
button {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  background-color: var(--accent-color);
  margin: 2.3em -1.4em 0 0;
  padding: .8em 3em .8em 2em;
  border: 0;
  border-radius: 10px 0 0 10px;
}

button::before {
  content: '\0000a0\0000a0\0000a0\2192\0000a0\0000a0';
}

button:hover {
  cursor: pointer;
}


/* SCROLLING CONTAINERS */
.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden; 
  flex-wrap: nowrap;
  margin: 1.3em -1.3em 0;
}

.horizontal-scroll-container::-webkit-scrollbar { display: none; }

.vertical-scroll-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  flex-wrap: nowrap;
  margin: 0 -1.3em 0 0;
  height: calc(100vh - 85px);
}

div#searchlist {
  margin: 0;
}

.vertical-category-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  flex-wrap: nowrap;
  width: 250px;
}

.vertical-scroll-container::-webkit-scrollbar { display: none; }


/* NEARBY STYLES */
.nearby-container-desktop {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content:flex-start;
}

.nearby-card-desktop-container {
  margin: 1.3em 1.3em 0 0; 
  position: relative;
  height: 215px;
  border-radius: 15px;
}

.nearby-section-mobile {
  text-align: right;
}

.horizontal-scroll-container .nearby-card-mobile {
  margin-right: 1.3em;
}

.horizontal-scroll-container a:first-child {
  margin-left: 1.3em;
}

.nearby-card-mobile {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 190px;
  min-width: 240px;
  border-radius: 15px;
}

.nearby-card-desktop {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 215px;
  width: 100%;
  min-width: 250px;
  max-width: 250px;
  border-radius: 15px;
}

.nearby-store-info-mobile {
  position: absolute;
  bottom: 0;
  padding: 1em;
  color: white;
  text-align: left;
}

.nearby-store-info-desktop {
  position: absolute;
  bottom: 0;
  padding: .7em;
  color: white;
  text-align: left;
  background-color: #454f63b8;
  width: 100%;
  border-radius: 0 0 15px 15px;
}

.nearby-store-address {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bolder;
  font-size: .8em;
}

.nearby-store-address, .nearby-store-title {
  /* ... si déborde */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 210px;
}

/* CATEGORY STYLES */
.category-section-container {
  float: left;
  margin-right: 1.3em;
}

.horizontal-scroll-container .category-card {
  margin-right: 1.3em;
  /* border-left: 5px solid red; */
}

.horizontal-scroll-container a:first-child {
  margin-left: 1.3em;
}

.category-card {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;
  min-width: 115px;
  border-radius: 15px;
}

@media (min-width: 992px) {
  .category-card {
    margin-bottom: 1.3em;
  }
}

.category-store-info {
  background: var(--blue-grey);
  position: absolute;
  bottom: 0;
  padding: .6em .8em;
  color: white;
  text-align: left;
  width: 100%;
  border-radius: 0 0 15px 15px;
}

.category-store-info h4 {
  font-size: .7em;
  /* ... si déborde */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85px;
}

.category-store-address {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bolder;
  font-size: .5em;
}

.category-store-address p {
  /* ... si déborde */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 210px;
}


/* SUCCESS */
.success-page svg {
  font-size: 7em;
  color: var(--accent-color);
}

.success-page h1 {
  font-weight: normal;
  margin-top: 1.5em;
}

.success-page p {
  font-weight: normal;
  margin-bottom: 2.5em;
}


/* SEARCH LIST STYLES */

.vertical-list {
  padding: 0 1.3em;
  /* position: relative; */
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  min-width: 400px;
}

#searchlist .vertical-list {
  min-width: 80vw;
  max-width: 80vw;
}

.vertical-list:hover {
  background: var(--accent-color);
}

.vertical-scroll-container hr {
  margin: 0;
}

.vertical-list-image {
  min-width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.vertical-store-info {
  /* position: absolute; */
  /* right: 0; */
  padding: 1em;
  color: var(--blue-grey);
  text-align: left;
}

.vertical-scroll-container a {
  text-decoration: none;
}

.vertical-store-info h4, .vertical-store-info p {
  color: inherit;

  /* ... si déborde */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.vertical-store-info h4 {
  font-size: 1.3em;
}

.vertical-store-address {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  font-size: .8em;
}

.desktop-map-container {
  display: flex;
  flex-direction: row;
}

@media (min-width: 992px) { 
  .desktopFilteredMap {
    width: calc(100% - 400px + 1.3em) !important;
    height: calc(100% - 85px) !important;
  }
}

@media (max-width: 991.98px) { 
  .desktopFilteredMap {
    position: block !important;
    width: 100% !important;
    height: calc(100% - 40px) !important;
    margin: calc(-1.3em - 40px) 0 0 -1.3em;
    z-index: -1;
  }
}

.command-section-mobile h2 {
  text-align: center;
}

.command-card {
  background: #eaeff5;
  height: 100%;
  width: 85vw;
  margin: auto;
  padding: 1em;
  border-radius: 15px;
  color: var(--blue-grey);
}

.command-title-infos {
  display: flex;
  margin-bottom: 1em;
  font-size: .85em;
}

.command-reference {
  color: var(--accent-color);
  font-weight: bolder;
}

.whoTakesOrder {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.whoTakesOrder h3 {
  color: var(--blue-grey);
  font-weight: bolder;
  font-size: 1em;
}

.whoTakesOrder img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 1em;
}

.order-content {}

.order-content-row {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: .85em;
}

.order-content-total-row {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  font-weight: bolder;
}

[aria-expanded="false"] + * {
  display: none;
}

.map-view-container {
  padding-top: 1.3em;
}