.top-detail-section {
  height: 30vh;
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: -1.3em -1.3em 0;
  z-index: 0;
}

.relativeParent {
  position: relative;
  height: 30vh;
  min-height: 350px;
}

.detail-store-info {
  position: absolute;
  bottom: 35px;
  padding: 1.3em;
  text-align: left;
}

.detail-store-info p.nearby-store-address {
  width: 100%;
  text-overflow: initial;
}

.top-detail-section h1 {
  color: white;
  margin: 0;
}

.bottom-detail-section {
  background: var(--grey-bg);
  border-radius: 15px 15px 0 0;
  margin: -35px -1.3em 0;
  z-index: 1;
  padding: 1.5em 1.3em;
  text-align: left;
}

.bottom-detail-section h3 {
  margin: 0 0 1.3em;
}

.bottom-detail-section p {
  font-size: .8em;
}

.tri-btn {
  display: flex;
  justify-content: space-between;
}

.tri-btn a {
  /* padding: 2em 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: .8em;
  flex-grow: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  /* width: 26vw; */
  width: 27vw;
  background: var(--accent-color);
  padding: .5em 1em;
  color: white;
  border-radius: 15px;
  align-content: center;
  justify-content: center;
  font-weight: bolder;
  margin-top: .5em;
}

@media (min-width: 992px) { 
  .tri-btn {
    justify-content: center;
  }
  
  .tri-btn a {
    width: auto;
    min-width: 50px;
    margin: .7em;
    padding: 1em 1.3em;
  }
}

hr {
  height: 2px;
  margin: 2em 0;
  color: var(--border);
  background-color: var(--border);
  border: 0;
}


/* CALENDAR */

.pickRDV h3 {
  color: var(--blue-grey);
}

.react-calendar {
  background: var(--accent-color);
  width: 100vw;
  margin: 0 0 0 -1.3em;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.react-calendar__tile {
  /* height: 100px;
  width: 100px; */
}

button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
  color: white;
  font-weight: bolder;
}

.react-calendar__month-view__days__day:nth-child(10) {
  color: yellow;
}

.react-calendar__month-view__days {
  width: 100px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden; 
  flex-wrap: nowrap !important;
  width: 100vw;
  margin: 0 auto 1em;
  padding-top: 0;
}

.react-calendar__month-view__days > button {
  background: transparent;
  text-align: center;
  min-width: 86px;
  margin-top: 0;
  padding: 1em auto 2em;
}

.react-calendar__month-view__days > button::before {
  content: "";
}

.react-calendar__month-view__weekdays {
  display: none !important;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button, button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button::before, button.react-calendar__navigation__arrow.react-calendar__navigation__next-button::before {
  content: "";
}

.react-calendar__navigation {
  justify-content: center;
  align-items: center;
  align-content: center;
}

button.react-calendar__navigation__label, button.react-calendar__navigation__arrow.react-calendar__navigation__next-button, button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  text-align: center;
  margin: 1em 0 0 0;
}

button.react-calendar__navigation__label::before {
  content: "";
}

button.react-calendar__tile.react-calendar__month-view__days__day {
  margin-left: 0 !important;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  color: rgba(255, 255, 255, 0.4);
}

.weekDayName {
  margin-bottom: 0.5em;
  font-size: .7em;
  color: inherit;
}

.opening-hours-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 0 -1.3em;
  padding: 1.3em;
  font-size: .8em;
  background: white;
  width: 100vw;
  height: 40px;
}

.opening-hours-container h3 {
  margin: 0 1em 0 0;
}

.opening-hours {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appointmentPickerContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 2em;
}

.appointmentPickerBtn::before {
  content: "";
}

.appointmentPickerBtn {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: transparent;
  color: var(--blue-grey);
  font-weight: normal;
}

.appointmentPickerBtnDiv {
  width: 20%;
}

@media (min-width: 992px) { 
  .appointmentPickerBtnDiv {
    width: 6vw;
  }
}

.appointmentPickerDiv form {
  text-align: right;
  margin-bottom: 2.3em;
  margin-top: -2em;
}

.Non-AvailableTime {
  color: var(--grey);
  font-style: italic;
  pointer-events: none;
  cursor: not-allowed;
}

/* button.bookAppointmentBtn {
  margin-right: -7.9em;
} */

.storeDetailsMap {
  width: calc(100vw - 2.6em) !important;
  height: 25vh !important;
  margin: 0 auto 1.3em;
  border-radius: 15px;
  position: relative !important;
}

@media (min-width: 992px) { 
  .storeDetailsMap {
    width: calc(48vw - 2.6em) !important;
    margin: 0;
    height: 35vh !important;
  }

  .all-products-container {
    height: 35vh !important;
    overflow: scroll;
  }

  .product-list-container {
    width: 50vw;
  }

  .listOfProducts {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
  }
}

.product-list-container {
  margin-bottom: 1.3em;
}

.product-row {
  background:#f0f4f8;
  height: 50px;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.book-products {
  position: absolute;
  background-color: var(--accent-color);
  right: 0;
  top: 0;
  height: 50px;
  border-radius: 0 15px 15px 0;
  z-index: 1;
  width: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.book-products span {
  color: white;
}

.product-quantity {
  font-weight: bolder;
}

.product-img-and-name {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: left;
}

.product-weight-and-price {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: .8em;
}

.product-picture {
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 1em;
}

.product-weight {
  color: var(--grey);
}

.product-price {
  margin-left: 1.5em;
}

.product-picture, .product-name, .product-img-and-name {
  pointer-events: none;
}

.command-card hr {
  margin: 1em auto;
  background-color: #aeb5c552;
  height: 1px;
  width: 100%;
}