.search-container {
  -webkit-box-shadow: 0px 15px 21px -15px rgba(29,29,29,0.29); 
  box-shadow: 0px 15px 21px -15px rgba(29,29,29,0.29);
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.search-container .fa-filter {
  color: white;
  background: var(--accent-color);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1em .5em;
  border-radius: 0 10px 10px 0;
  flex-grow: 1;
}

.SearchBar {
  width: auto;
  background: white;
  color: var(--grey);
  border-radius: 10px;
  
}

.SearchBar input {
  border: 0;
  margin: 0 0.5em;
  padding: .5em;
  flex-grow: 2;
  background: transparent;
}

@media (min-width: 992px) {
  .search-container {
    margin: 0; 
    box-shadow: none;
  }

  .SearchBar {
    background: #aeb5c547;
  }

  .search-container .fa-filter {
    padding: .7em .5em;
  }
}