.map-view.page-container-desktop {
  padding: 85px 0 0;
}

.map-container-desktop {
  /* height: calc(100vh - (4em + 48px)); */
  margin-top: calc(-4em - 48px);
  margin-left: -1.3em;
  width: 100vw;
  height: 100vh;
  /* z-index: -1;
  position: fixed;
  left: 0; */
}

/* .map-container-desktop > * {
  position: relative !important;
} */


.gmnoprint, .gm-control-active.gm-fullscreen-control {
  display: none;
}

.gm-style-iw.gm-style-iw-c {
  /* background: transparent;   */
}

#iw-container  .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #baceac;
  color: white;
  margin: 1px;
  border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

.gm-style-iw {
  width: 350px !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid #baceac;
  border-radius: 2px 2px 0 0;
}


.nearby-store-infowindow-desktop {
  position: absolute;
  bottom: 0;
  /* padding: .7em; */
  padding: 10px;
  color: white;
  text-align: left;
  background-color: #454f63e0;
  width: 100%;
  border-radius: 0 0 15px 15px;
  font-size: 1.5em;
}

.nearby-store-infowindow-mobile {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: white;
  text-align: left;
  background-color: #454f63ba;
  min-width: 240px;
  font-size: 1.3em;

}

.nearby-store-infowindow-mobile button {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  background-color:  var(--accent-color);
  margin: 1.3em -1.4em 0 0;
  padding: .4em 1.5em .4em 1em;
  border: 0;
  border-radius: 10px 0 0 10px;
}

.nearby-store-infowindow-desktop button{
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  background-color:  var(--accent-color);
  margin: 1.3em -1.4em 0 0;
  padding: .4em 1.5em .4em 1em;
  border: 0;
  border-radius: 10px 0 0 10px;
}

.nearby-card-desktop-infowindow-container {
  margin: 0; 
  position: relative;
  height: 215px;
  border-radius: 15px;

}

.nearby-card-infowindow-mobile {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 190px;
  min-width: 240px;
  border-radius: 15px;
  
}

.nearby-card-infowindow-desktop {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 215px;
  width: 100%;
  min-width: 250px;
  border-radius: 15px;
}

.gm-style-iw {
  width: 350px !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0;
  background-color: #fff;
  /* box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6); */
  border-radius: 2px 2px 0 0;
}

.gm-style .gm-style-iw-c {
  border-radius: 15px;
  padding: 0;
}

.gm-style-iw-d {
  background-color: transparent;
  border-radius: 0px;
  overflow: hidden !important;
  color: #fff;
}