.map-view.page-container-desktop {
  padding: 85px 0 0;
}

.map-container-desktop {
  /* height: calc(100vh - (4em + 48px)); */
  margin-top: calc(-4em - 48px);
  margin-left: -1.3em;
  width: 100vw;
  height: 100vh;
  /* z-index: -1;
  position: fixed;
  left: 0; */
}

/* .map-container-desktop > * {
  position: relative !important;
} */


.gmnoprint, .gm-control-active.gm-fullscreen-control {
  display: none;
}

.gm-style-iw.gm-style-iw-c {
  /* background: transparent;   */
}

#iw-container  .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #baceac;
  color: white;
  margin: 1px;
  border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

.gm-style-iw {
  width: 350px !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid #baceac;
  border-radius: 2px 2px 0 0;
}

